{% extends "layout.html" %} {% block content %}

<div class="container">
  <div class="mt-1">
    <h1>Classical Recording Finder</h1>
  </div>
  <p class="lead">
    Find the highest reviewed recordings of your favorite classical music
    pieces! Click on the profile icon above to get started. After logging in,
    click on the search icon to look for the best recordings of different
    pieces. The web interface was modified from the GitHub repository linked

    <a
      href="https://github.com/mari-linhares/spotify-flask/blob/master/README.md"
    >
      here</a
    >.
  </p>
</div>

{% endblock %}
